@model NovoRumoProjeto.Areas.Admin.Models.DiaViewModel

<div class="cell">
    <h1>Dia a Dia</h1>
    <h3> Cadastro de imagens</h3>
    <a href="@Url.Action("edit", "dia")" class="button secondary">
        <i class="fi-pencil" aria-hidden="true"></i>
        alterar
    </a>
</div>