.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
}

.fi {
    padding-right: 5px;
}

.title-bar-admin {
    padding-top: 1rem;
    border-bottom: 1px solid #eee;
    margin: 0 0 1rem;
}

table .button {
    margin: 0;
}

/* FIELDS */

.field {
    margin: 0 0 1.5rem;
}

    .field input {
        margin: 0;
    }

    .field textarea {
        margin: 0;
    }

.field-validation-error {
    position: absolute;
    color: #cc4b37;
    font-size: 0.75rem;
    font-weight: bold;
}

.input-validation-error {
    border-color: #cc4b37;
    background-color: #f9ecea;
}

    .input-validation-error:focus {
        border-color: #cc4b37;
        background-color: #f9ecea;
        box-shadow: none;
    }

.input-group-button label {
    padding-top: 13px;
    padding-bottom: 13px;
}

/* END FIELDS */
