@model  NovoRumoProjeto.Areas.Admin.Models.AboutViewModel



<div class="cell">
    <h1>Sobre</h1>
    @Html.EditButton("About")
    @Html.AddButton("About")
</div>

<div class="grid-x cell">
        <div class="cell small-2">
            @Html.LabelFor(model => model.Title)
            @Html.LabelFor(model => model.Description)
        </div>
    

</div>
