@model NovoRumoProjeto.Models.NovoRumoModel

<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like"
     data-size="small" data-show-faces="false" data-share="false"></div>

   <!-- HEADER -->
<section id="header">
    <div class="spirit" data-0p="display:block; opacity:1;" data-100p="display:none; opacity:0;">
        <img src="~/Imagens/happineswall.jpg" class="img-header" />
    </div>
</section>

<!-- RESPONSIVE MENU -->
<div class="scrollhide-nav">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
    </div>
    <div class="top-bar show-for-small-only" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
                <li>
                    <a href="#quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="#seja-um-doador">Seja um doador</a>
                </li>
                <li>
                    <a href="#eventos">Eventos</a>
                </li>
                <li>
                    <a href="#loja">Loja</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- MENU -->
<nav class="hide-for-small-only" data-50p="top:-4.25em;" data-80p="top:0px;">
    <div class="top-bar topbar-sticky-shrink">
        <div class="top-bar-center">
            <ul class="menu" data-magellan>
                <li>
                    <a href="#quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="#seja-um-doador">Seja um doador</a>
                </li>
                <li>
                    <a href="#eventos">Eventos</a>
                </li>
                <li>
                    <a href="#loja">Loja</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
