<!-- FOOTER -->
<footer class="footer" role="contentinfo">
    <div class="grid-container">
        <div class="grid-x hide-for-small-only">
            <div class="small-6 cell">
                <h6>Sobre nós</h6>
            </div>
            <div class="small-6 cell">
                <h6>Contato</h6>
            </div>
        </div>
        <div class="grid-x hide-for-small-only">
            <div class="small-6 cell">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>
                    In eu sagittis felis. Etiam ante dui, iaculis vel augue et, gravida blandit nunc.
                </p>
            </div>
            <div class="small-6 cell">
                <a href="https://pt-br.facebook.com/novorumoatibaia.com.br/" target="_blank">
                    <div class="facebook social-icon">
                        <img src="/images/fb.png" alt="Siga a página do Novo Rumo no Facebook" />
                    </div>
                </a>
                <a href="mailto:contato@novorumoatibaia">
                    <div class="email social-icon">
                        <img src="/images/mail.png" alt="Envie um email para o Novo Rumo" />
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-x info">
            <div class="small-12 cell">
                <p> 
                    <a href="http://www.victorfontana.com.br">desenvolvido com carinho por Victor Fontana</a>
                </p>
            </div>
        </div>
    </div>
</footer>