<!-- RESPONSIVE MENU -->
<div class="scrollhide-nav">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
    </div>
    <div class="top-bar show-for-small-only" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
                <li>
                    <a href="#quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="#seja-um-doador" data-botaoDoador>Doe agora</a>
                </li>
                <li>
                    <a href="#eventos">Eventos</a>
                </li>
                <li>
                    <a href="#dia-a-dia">Dia-a-dia</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- MENU -->
<nav class="hide-for-small-only" data-50p="top:-4.25em;" data-80p="top:0px;" role="navigation">
    <div class="top-bar topbar-sticky-shrink">
        <div class="top-bar-center">
            <ul class="menu">
                <li>
                    <a href="#quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="#seja-um-doador" data-botaoDoador>Doe agora</a>
                </li>
                <li>
                    <a href="#eventos">Eventos</a>
                </li>
                <li>
                    <a href="#dia-a-dia">Dia-a-dia</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>