<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like"
     data-size="small" data-show-faces="false" data-share="false"></div>

<!-- HEADER -->
<header id="header" role="banner">
    <div class="spirit" data-0p="display:block; opacity:1;" data-100p="display:none; opacity:0;">
        <img src="/images/Banner_v2.png" class="image-header" />
    </div>
</header>

<!-- RESPONSIVE MENU -->
<div class="scrollhide-nav show-for-small-only">
    <div class="title-bar-overlay" role="complementary"></div>
    <div class="title-bar">
        <div id="nav-icon4">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navigation-itens">
            <aside class="flex-col">
                <a href="#quem-somos">Quem somos</a>
                <a href="#eventos">Eventos</a>
                <a href="#dia-a-dia">Dia-a-dia</a>
                <a href="#contato">Contato</a>
                <a href="#seja-um-doador">Doação</a>
            </aside>
        </div>
    </div>
</div>

<!-- MENU -->
<nav class="hide-for-small-only" data-50p="top:-4.25em;" data-80p="top:0px;" role="navigation">
    <div class="top-bar topbar-sticky-shrink">
        <div class="top-bar-center">
            <ul class="menu">
                <li>
                    <a href="#quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="#eventos">Eventos</a>
                </li>
                <li>
                    <a href="#dia-a-dia">Dia-a-dia</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
                <li>
                    <a href="donation/checkout" class="button hollow">Doe agora</a>
                </li>
            </ul>
        </div>
    </div>
</nav>