<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Associação Novo Rumo Atibaia</title>
    <link rel="stylesheet" href="~/Content/flickity.min.css">
    <link rel="stylesheet" href="~/Content/app.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" async/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet" async>
</head>
<body>
    @Html.Partial("_header")
    @RenderBody()
    @Html.Partial("_footer")

    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/foundation.min.js"></script>
    <script type="text/javascript" src="/Scripts/skrollr.min.js"></script>
    <script type="text/javascript" src="/Scripts/skrollr.stylesheets.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
        $(document).foundation();

        $(window).on('load', function () {
            if (Foundation.MediaQuery.atLeast('large')) {
                initSkroll();
            }
        });
        $(window).on('changed.zf.mediaquery', function (event, newSize, oldSize) {
            if (newSize !== "small" && newSize !== "medium") {
                initSkroll();
            } else {
                destroySkroll();
            }
        });

        var $window = $(window);
        var nav = $('.scrollhide-nav');
        var indicadorAberturaMenu = false;
        $window.on('scroll', function () {
            var scrollTop = $window.scrollTop();
            nav.toggleClass('hidden', (scrollTop > 0 && !indicadorAberturaMenu));
        });

        var body = $('body');
        $('#nav-icon4').click(function () {
            $(this).toggleClass('open');
            $(body).toggleClass('nav-animation');
            setTimeout(() => {
                $(body).toggleClass('nav-expanded');
                setTimeout(() => {
                    $(body).toggleClass('nav-animation');
                }, 200);
            }, 200);
            indicadorAberturaMenu = !indicadorAberturaMenu;
        });

        $(".navigation-itens a").on("click", function () {
            $('#nav-icon4').toggleClass('open');
            $(body).toggleClass('nav-expanded');
            $(nav).addClass('hidden');
            indicadorAberturaMenu = !indicadorAberturaMenu;
        });

        $('.main-carousel').flickity({
            pageDots: false,
            arrowShape: 'M92.5,42.5H25.6L37.8,30.3A7.5,7.5,0,1,0,27.2,19.7l-25,25a7.5,7.5,0,0,0,0,10.6l25,25a7.5,7.5,0,0,0,10.6,0,7.5,7.5,0,0,0,0-10.6L25.6,57.5H92.5a7.5,7.5,0,0,0,0-15Z'
        });

        function initSkroll() {
            skrollr.init({
                forceHeight: false,
                smoothScrolling: false
            });
        }

        function destroySkroll() {
            skrollr.init().destroy();
        }

        $(".accordion-menu li a").on("click", function () {
            $("#responsive-menu").css({ "display": "none" });
        });

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12&appId=269841363195323&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(document).ready(function () {
            $(function () {
                $('a[href*=\\#]:not([href=\\#])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
