<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Associação Novo Rumo Atibaia</title>
    <link href="~/Content/app.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet" async>
</head>
<body>

    <div>
        <main>
            @RenderBody()
        </main>

    </div>
    @RenderSection("Scripts", false)
</body>
</html>



</html>