
<!-- FOOTER -->
<div class="footer">
    <div class="grid-container">
        <div class="grid-x">
            <div class="small-6 cell">
                <h6>Sobre nós</h6>
            </div>
            <div class="small-6 cell">
                <h6>Contato</h6>
            </div>
        </div>
        <div class="grid-x">
            <div class="small-6 cell">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>
                    In eu sagittis felis. Etiam ante dui, iaculis vel augue et, gravida blandit nunc.
                </p>
            </div>
            <div class="small-6 cell">
                <a href="#">
                    <div class="facebook social-icon">
                        <img src="/images/fb.png" />
                    </div>
                </a>
                <a href="#">
                    <div class="email social-icon">
                        <img src="/images/mail.png" />
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-x info">
            <div class="small-6 cell">                
                <p>&copy; @DateTime.Now.Year Associação Novo Rumo Atibaia</p>
                <p>Desenvolvido com carinho por Victor Fontana</p>
            </div>
        </div>
    </div>
</div>



<div id="fb-root"></div>
