<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Associação Novo Rumo Atibaia</title>
    <link href="~/Content/app.min.css" rel="stylesheet" async/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet" async />
    <style>
        header {
            background-color: #ffd98f;
        }

        h2 {
            font-size: 1.5em;
        }

        a {
            text-decoration: underline;
        }

        #main {
            margin: 2rem auto 0;
        }

        .divisor {
            margin: 2rem 0;
            text-align: center;
            background-image: -webkit-linear-gradient(top,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
            background-image: -o-linear-gradient(top,transparent 10px,#e3e3e3 10px,#e3e3e3 12px,transparent 12px);
            background-image: linear-gradient(180deg,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
        }

            .divisor > span {
                display: inline-block;
                background-color: #fff;
                padding: 0 10px;
                text-transform: none;
            }

        .text-middle {
            padding: 8px 8px 8px 0;
        }

        .callout-text-field {
            padding: 15px 0 15px 55px;
        }

        .radio-callout {
            padding: 0;
            height: 70px;
        }

            .radio-callout:before {
                content: '';
                position: absolute;
                border-left-color: #f1f1f1;
                border-left-width: 6px;
                border-left-style: solid;
                height: 100%;
                width: 45px;
                top: 0;
                left: 0;
                background: #f1f1f1;
            }

            .radio-callout [type=radio] {
                position: absolute;
                margin: 0;
                top: 50%;
                margin-top: -8px;
                margin-left: 17px;
            }

            .radio-callout label {
                width: 100%;
                padding: 20px 0 20px 55px;
                margin: 0;
                position: relative;
                height: 100%;
            }

        .value-field {
            text-align: right;
            padding-right: 20px;
        }

        legend {
            color: #666;
        }

        .callout.alert {
            background-color: #f7e4e1;
        }

        .alert-callout-border.alert {
            border-left-color: #cc4b37;
        }

        .alert-callout-border {
            width: 100%;
            padding: 1.3rem;
            border-left-width: 0.3125rem;
            border-left-color: #cacaca;
        }

        .field {
            margin: 0 0 1.7rem;
        }

            .field input {
                margin: 0;
            }

            .field textarea {
                margin: 0;
            }

        .field-validation-error {
            position: absolute;
            color: #cc4b37;
            font-size: 0.75rem;
        }

        .input-validation-error {
            background-color: #f7e4e1;
        }

            .input-validation-error:focus {
                background-color: #f7e4e1;
                box-shadow: none;
            }

            .tabs-payment-options {
        margin-bottom: 0;
    }

    .payment-option-item:not(.selected) {
        border-bottom:1px solid #ddd;
    }

    .payment-option-item:not(.selected) .button {
        background-color:#828282;
    }

    .payment-option-item:not(.selected):hover .button {
        background-color:#A62E3C;
    }

    .payment-option {
        padding-top: 1rem;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #ddd;
    }

        .payment-option-item {
            border-left: 1px solid #ddd;
            position: relative;
            text-align: center;
            padding: 0;
        }

        .payment-option-item label {
            margin-left:0px;
            margin-right:0px;
        } 
        
        .payment-option-item:first-child {
            border-left: none;
        }

        ul.payment-options-menu li .icon-option,
        .payment-option-item .icon-option {
            fill: #828282;
            height: auto;
            margin-bottom: 1em;
            max-height: 2.5em;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        .payment-option-item:hover .payment-option-title,
        .payment-option-item.selected .payment-option-title {
            color: #a62e3c;
        }

        ul.payment-options-menu li.selected .icon-option,
        ul.payment-options-menu li:hover .icon-option,
        .payment-option-item:hover .icon-option,
        .payment-option-item.selected .icon-option {
            fill: #45beff;
        }

    .payment-option-title {
        text-transform: initial;
        color: #828282;
        transition: all 0.3s ease-in-out;
    }

    ul.payment-options-menu {
        list-style: none;
        margin: 0;
    }

        ul.payment-options-menu li {
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            padding: 0.75em 0;
        }

            ul.payment-options-menu li:first-child {
                border-top: 1px solid #ddd;
            }

            ul.payment-options-menu li .icon-option {
                margin: 0;
                width: 124px;
            }
    </style>
</head>
<body>
    <header role="navigation">
        <div class="grid-container">
            <div class="small-12 medium-3 text-center">
                <h1>
                    <a href="/" aria-label="Home">
                        <img src="http://via.placeholder.com/200x100" alt="Logo Novo Rumo">
                    </a>
                </h1>
            </div>
            <div class="medium-9 hide-for-small-only">

            </div>
        </div>
    </header>

    <main class="small-12 medium-6 grid-container fluid" role="main" id="main">
        <div class="grid-margin-x">
            @RenderBody()
        </div>
    </main>

    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/foundation.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
