@model NovoRumoProjeto.Areas.Admin.Models.EventViewModel

<div class="cell">
    <div class="grid-x title-bar-admin">
        <div class="small-6">
            <h1>Evento</h1>
        </div>

    </div>
</div>