@model NovoRumoProjeto.Areas.Admin.Models.ForgotPasswordViewModel

<div class="cell small-12 medium-6 large-4">
    @using (Html.BeginForm("EsqueceuSenha", "Admin", FormMethod.Post, new { @class = "log-in-form" }))
    {
        <h4 class="text-center">Lembrar senha</h4>

        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        <input type="submit" class="button primary" value="Enviar Senha" />
    }
</div>
