@model NovoRumoProjeto.Areas.Admin.Models.DailyViewModel


<div class="cell">
    <div class="grid-x title-bar-admin">
        <div class="small-6">
            <h1>Dia-a-dia</h1>
        </div>
    </div>

</div>

