@model NovoRumoProjeto.Models.DonationViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="grid-container">
    <h2>Doação mensal</h2>
</div>

<div class="small-12">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="callout grid-x">
            <div class="small-2">
                R$ 30,00
                (R$ 1,00 POR DIA)
            </div>
            <div class="small-1"> = </div>
            <div class="small-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam mauris, eleifend
                egestas sollicitudin eget, tempus vitae mi. Nam lectus.
            </div>
        </div>
        <div class="callout grid-x">
            <div class="small-2">
                R$ 45,00
                (R$ 2,00 POR DIA)
            </div>
            <div class="small-1"> = </div>
            <div class="small-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam mauris, eleifend
                egestas sollicitudin eget, tempus vitae mi. Nam lectus.
            </div>
        </div>


        @Html.CheckBoxFor(model => model.Terms, htmlAttributes: new { })
        <label for="Terms">
            Li e estou de acordo com a @Html.ActionLink("Política de Privacidade", "politica-de-privacidade") e @Html.ActionLink("Termos de Uso", "termos-de-uso").
        </label>

        <input type="submit" class="button primary" value="Doar" />
    }
</div>