@model NovoRumoProjeto.Models.DonationViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="grid-container">
    <h2>Doação mensal</h2>
</div>

<div class="small-12">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="grid-x grid-padding-x">
            <div class="cell small-3">
                <div class="callout">
                    R$ 30,00
                </div>
            </div>
            <div class="cell small-3">
                <div class="callout">
                    R$ 45,00
                </div>
            </div>
        </div>

        @Html.CheckBoxFor(model => model.Terms, htmlAttributes: new { })
        <label for="Terms">
            Li e estou de acordo com a @Html.ActionLink("Política de Privacidade", "politica-de-privacidade") e @Html.ActionLink("Termos de Uso", "termos-de-uso").
        </label>

        <input type="submit" class="button primary" value="Doar" />
    }
</div>