@model NovoRumoProjeto.Models.PageViewModel

@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="column text-center">
    <h2>Política de Privacidade</h2>
</div>

<div class="column">
    @Html.Raw(Model.Description)
</div>