<div class="pink-gradient-content stripe" id="dia-a-dia">
    <div class="grid-container grid-x">
        <div class="cell text-center">
            <div class="small-12 cell">
                <h3>Dia-a-dia</h3>
            </div>
        </div>
    </div>
</div>
<div class="pink-gradient-content">
    <div class="grid-container grid-x">
        <div class="cell text-center">
            <div class="small-8 cell float-left" data-bottom-top="-webkit-transform: translate3d(0px,-200px,0px);-moz-transform: translate3d(0px,-200px,0px);transform: translate3d(0px,-200px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,0px,0px);-moz-transform: translate3d(0px,0px,0px);transform: translate3d(0px,0px,0px);">
                <img src="/images/dia-a-dia/exercicio-ao-ar-livre.jpg" alt="exercicio ao ar livre">
            </div>
            <div class="small-6 cell float-right" data-bottom-top="-webkit-transform: translate3d(0px,-1000px,0px);-moz-transform: translate3d(0px,-1000px,0px);transform: translate3d(0px,-100px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,-200px,0px);-moz-transform: translate3d(0px,-200px,0px);transform: translate3d(0px,-200px,0px);">
                <img src="/images/dia-a-dia/artesanato-em-mesa.jpg">
            </div>
            <div class="small-4 cell float-center" data-bottom-top="-webkit-transform: translate3d(0px,-500px,0px);-moz-transform: translate3d(0px,-500px,0px);transform: translate3d(0px,-500px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,0px,0px);-moz-transform: translate3d(0px,0px,0px);transform: translate3d(0px,0px,0px);">
                <img src="/images/dia-a-dia/bazar.jpg">
            </div>
            <div class="small-5 cell float-left" data-bottom-top="-webkit-transform: translate3d(0px,-200px,0px);-moz-transform: translate3d(0px,-200px,0px);transform: translate3d(0px,-200px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,0px,0px);-moz-transform: translate3d(0px,0px,0px);transform: translate3d(0px,0px,0px);">
                <img src="/images/dia-a-dia/roda.jpg">
            </div>
            <div class="small-7 cell float-center" data-bottom-top="-webkit-transform: translate3d(0px,-100px,0px);-moz-transform: translate3d(0px,-100px,0px);transform: translate3d(0px,-100px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,-200px,0px);-moz-transform: translate3d(0px,-200px,0px);transform: translate3d(0px,-200px,0px);">
                <img src="/images/dia-a-dia/selfie-roda.jpg">
            </div>
            <div class="small-5 cell float-right" data-bottom-top="-webkit-transform: translate3d(0px,-200px,0px);-moz-transform: translate3d(0px,-200px,0px);transform: translate3d(0px,-200px,0px);"
                 data-top-bottom="-webkit-transform: translate3d(0px,0px,0px);-moz-transform: translate3d(0px,0px,0px);transform: translate3d(0px,0px,0px);">
                <img src="/images/dia-a-dia/porta-porteira-portão.jpg">
            </div>
        </div>
    </div>
</div>