<div id="content">
    @{
        Html.RenderAction("About");
        Html.RenderAction("Donate");
        Html.RenderAction("Event");
    }
    @Html.Partial("Daily")
    @{
        Html.RenderAction("Contact");
    }
</div>