<div id="content">
    @Html.Partial("About")
    @{
        Html.RenderAction("Donate");
        Html.RenderAction("Event");
    }
    @Html.Partial("Daily")
    @{
      Html.RenderAction("Contact");
    }
</div>