<main id="content" role="main">
    @{
        Html.RenderAction("About");
        Html.RenderAction("Donate");
        Html.RenderAction("Event");
        Html.RenderAction("Daily");
        Html.RenderAction("Contact");
    }
</main>