    <!-- BODY -->
    <div id="content">
        <div class="white-content" id="seja-um-doador" data-magellan-target="seja-um-doador">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="small-12 medium-6 cell text-center">
                        <h2>Sócio amigo</h2>
                    </div>
                </div>
                <div class="grid-x">
                    <div class="small-2 medium-4 cell"></div>
                    <div class="small-8 medium-4 cell text-center quote">
                        <img src="images/idea-icon.png">
                        <h4>A Associação Novo Rumo precisa de doações para manter as suas atividades.</h4>
                    </div>
                </div>
                <div class="grid-x">
                    <div class="small-8 medium-8 cell hide-for-small-only"></div>
                    <div class="small-12 medium-4 cell text-center">
                        <p>
                            Sua doação é de extrema importancia para nós, pois com ela podemos manter nossas atividades, realizar
                            manutenção e para o desenvolvimento de novos projetos para nossa Associação.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pink-content" id="eventos" data-magellan-target="eventos">
            <div class="grid-container grid-x">
                <div class="small-12 medium-6 cell text-center">
                    <img src="/images/event-icon.png" />
                    <h3>Eventos</h3>
                    <h4>
                        Bazar
                        <span class="yellow">Beneficente</span>
                    </h4>
                </div>
                <div class="small-12 medium-6 cell">
                    <h6 class="yellow text-center">Localização</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet, ligula a convallis ullamcorper,
                        lorem lectus consectetur velit, non faucibus.
                    </p>
                    <h6 class="yellow text-center">Descrição</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris erat nulla, vehicula a nunc quis, porta
                        luctus nisi. Duis id ligula a purus feugiat volutpat eget ut leo. Ut sit amet bibendum eros. Proin
                        convallis eleifend velit. Donec facilisis quis purus ut mollis. Phasellus eget nibh in ex mattis
                        mollis.
                    </p>
                </div>
            </div>
        </div>
       
    </div>