
@{ 
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<main id="content" role="main">
    <h2>Política de Privacidade</h2>

    <p>
        <strong>Nosso Compromisso com Você</strong>
        <br>MÉDICOS SEM FRONTEIRAS BRASIL (MSF Brasil) está fortemente empenhada em proteger a privacidade dos seus doadores. Queremos ajudá-lo a entender melhor as informações que recolhemos, como lidamos com ela, e as opções que você tem em relação a como as utilizamos. Essa Política de Privacidade é aplicada quando recebemos um cadastro para doação para Médicos Sem Fronteiras (online ou não). Ao se cadastrar para doar para MSF Brasil, você está aceitando esta Política de Privacidade, da qual fornecemos cópias mediante solicitação.
        <br><br>
        <strong>Coleta de Informações</strong>
        <br>
        MSF só coleta suas informações se forem fornecidas voluntariamente, através de contato via e-mail, formulário de doações on-line, por telefone, registro no site, ou qualquer outro meio que encontremos para facilitar sua interação conosco.
        <br><br>
        Eventualmente fazemos locação de listas para envio de mala direta com o objetivo de conseguir novos doadores para apoiar nosso trabalho. Não teremos acesso a esses dados até que, espontaneamente, a pessoa que recebeu nossa comunicação faça uma doação. Nesse momento, receberemos da empresa locadora os dados do novo doador e assim este passa a fazer parte de nosso banco de dados e a receber nossas informações. Só trabalhamos com listas legalizadas e que usem dados previamente autorizados pelos respectivos donos.
        <br><br>
        Outra possibilidade de coleta de dados é através de empresas especializadas em tratamento ou higienização de dados (em inglês usa-se os termos data cleansing ou data scrubbing), que é o ato de detectar, remover e/ou corrigir dados sujos de uma base de dados. Por dados sujos entendem-se incorretos, desatualizados, redundantes, incompletos ou formatados incorretamente. Essas empresas podem nos ajudar a completar seu cadastro.
        <br><br>
        Caso façamos contato com você, ou você faça conosco, via chat online, telefone, sms, email ou fórum em nosso site, podemos pedir-lhe informações pessoais como o seu nome, CPF, código de doador e endereço de e-mail para facilitar a busca de seu cadastro e/ou confirmar sua identificação.
        <br><br>
        Poderemos coletar algumas informações como IP (Internet Protocol – Endereço do computador na internet usado no momento de acesso ao site), tipo de navegador e sistema operacional, apenas para fins de análise estatística sobre o site. Não fazemos nenhuma tentativa de vincular estes dados com a identidade dos indivíduos que visitam nosso site.
        <br><br>
        Caso não queira mais receber nossos e-mails, basta clicar no link ao final das mensagens e seguir as instruções para&nbsp; solicitar o cancelamento do cadastro.
        <br><br>
        <strong>Proteção e Segurança de Dados</strong>
        <br>
        A qualquer momento seu direito fundamental à autodeterminação informativa pode ser exercido caso queira.
        <br><br>
        O direito de autodeterminação informativa pode ser compreendido como&nbsp; o direito da pessoa sobre o controle de seus dados pessoais, que garante que o titular possa acessar, retificar e anular seus dados pessoais armazenados em bancos de dados (públicos ou privados).
        <br><br>
        Quando você nos envia informações de pagamento através de formulário on-line em nosso site, as informações são transmitidas usando o protocolo https e protegidas por&nbsp; um alto grau de criptografia. Exigimos que todos os processamentos de crédito e transações de cartão recebidas em nosso nome atendam os seguintes padrões: criptografia de nível alto (RC4, chaves de 128 bits), homologado por GeoTrust SSL CA.
        <br><br>
        Suas informações pessoais a nós fornecidas serão armazenadas em local seguro e acessível somente a funcionários designados e treinados no manuseio das informações dos doadores.
        <br><br>
        Usamos medidas de segurança técnica e organizacional para proteger seus dados contra manipulação, perda, destruição ou acesso por pessoas não autorizadas. Somente as pessoas selecionadas têm acesso aos dados e são legal e contratualmente obrigadas a tratá-los como confidenciais.
        <br><br>
        <strong>Uso das Informações</strong>
        <br>Médicos Sem Fronteiras preza por manter os mais altos padrões de ética na forma de arrecadar fundos. Não vendemos ou alugamos nosso banco de dados para quaisquer outras organizações, ou empresas, sejam elas parceiras ou não de MSF Brasil.&nbsp; As informações pessoais dos doadores permanecerão confidenciais e só poderão ser utilizadas por funcionários autorizados de MSF Brasil para realizar o processamento de doações, manter o doador informado sobre nossos projetos e atividades, corrigir dados de cadastro e para pedir sua ajuda em nossa missão de salvar vidas e aliviar o sofrimento humano.
        <br><br>
        Além disso, podemos usar estas informações para melhorar nosso marketing e esforços promocionais (como, por exemplo, para saber se a maioria dos nossos doadores é mulher ou homem, ou para avaliar as regiões do país onde há uma concentração de pessoas comprometidas com a nossa causa), mantê-lo atualizado sobre o nosso trabalho, analisar o uso do site, e melhorar seu conteúdo, layout e serviços.
        <br><br>
        <strong>Atualizando suas Informações</strong>
        <br>Trabalhamos para processar e manter com precisão as informações que nossos doadores compartilham conosco.
        <br><br>
        Se você é nosso doador e gostaria de corrigir/atualizar seus dados pessoais ou ajustar suas preferências de correio, entre em contato através do atendimento ao doador pelo telefone 0800 940 3585 ou pelo endereço de email: <a href="mailto:doador@msf.org.br">doador@msf.org.br</a>. Você também pode acessar a área restrita para doadores no site de MSF Brasil - <a href="https://www.msf.org.br/login">Área do Doador</a> - utilizando seu código de doador e o e-mail cadastrado conosco.
        <br><br>
        <strong>Navegação no Site <a href="http://www.msf.org.br" target="_self">www.msf.org.br</a></strong>
        <br>Médicos Sem Fronteiras não coleta qualquer informação de identificação pessoal quando você visita nossos sites a menos que você opte por fornecer essas informações para nós.<br><br>As informações que coletamos durante a navegação, vem de duas fontes: os logs do servidor poderão coletar informações como o endereço IP (Internet Protocol), nome de domínio, tipo de navegador, sistema operacional, e informações como o site de origem da sua visita, os arquivos que você baixou, as páginas que você visitou, e as datas e horários dessas visitas. Essas informações não serão associadas a você, mas simplesmente utilizadas para fins de análise estatística e realização de melhorias nos nossos esforços de comunicação on-line.
        <br><br>
        <strong>Cookies</strong>
        <br>MSF pode coletar e analisar informações sobre o uso geral e individual do(s) nosso(s)site (s), tais como domínio, hits, páginas visitadas, o site pelo qual o visitante chegou ao nosso site, e a duração da sua visita.<br><br>Nós usamos cookies, pequenos arquivos de armazenamento de dados, para saber a freqüência de uso e número de usuários em nosso site. Os cookies não armazenam informações pessoais sem que você as tenha fornecido e não coletam informações registradas em seu computador. O uso de nosso website é possível sem cookies. A maioria dos navegadores são inicialmente configurados para aceitar cookies.<br><br>Você pode desativar o armazenamento de cookies ou ajustar seu navegador para notificá-lo quando os cookies estão sendo enviados.
        <br><br>
        <strong>Links Externos</strong>
        <br>Nosso site contém links para outros sites, e seu conteúdo não é responsabilidade de Médicos Sem Fronteiras. O fato de um link estar nesta página não representa endosso, autorização, apoio ou afiliação com o referido site.
        <br><br>Esteja ciente que MSF não é responsável pelas Políticas de Privacidade de outros sites. Nossas Políticas de Privacidade se aplicam somente para as páginas no nosso domínio, independente de quantos links possam haver para páginas externas.
        <br><br>
        <strong>Outras Informações</strong>
        <br>Informamos que podemos divulgar suas informações pessoais ao governo ou a terceiros em virtude de inquéritos policiais, ordens judiciais, intimações e pedidos semelhantes ou quando tal divulgação é necessária com relação a atividade que viole a lei ou possa expor-nos a responsabilidade.
        <br><br>
        <strong>Perguntas ou Sugestões</strong>
        <br>É importante para nós de Médicos Sem Fronteiras ouvir o que nossos visitantes e doadores têm a dizer sobre nossos serviços ou políticas. Se você tiver dúvidas, preocupações ou reclamações sobre esta Política de Privacidade, ou se quiser nos informar o que pensa sobre nossos produtos e serviços, por favor envie um email para 
        <a href="mailto:doador@msf.org.br">doador@msf.org.br</a> , ligue para&nbsp;<span style="font-size: 14.7679996490479px; line-height: 22.1520004272461px;">0800 940 3585</span>; ou escreva-nos por correio: Médicos Sem Fronteiras, A/C: Captação de Recursos, Avenida Rio Branco, 135 - 11º andar, Centro, Rio de Janeiro. CEP 20040-006.
        <br><br>
        <strong>Empregos</strong>
        <br>Pesquisando sobre oportunidades de emprego ou para voluntariado com Médicos Sem Fronteiras, pode ser que seja pedido algum dado pessoal para sua identificação (como nome completo, endereço, número de telefone, endereço de email e outros tipos de informação para o processo seletivo, como curriculum vitae). Qualquer informação fornecida em um processo seletivo é privado, e só será analisada por MSF para a seleção.
        <br><br>
        <strong>Alterações nesta Política de Privacidade</strong>
        <br>Podemos, de tempos em tempos, fazer alterações em nossa Política de Privacidade, com base em suas observações e nossa necessidade de refletir com precisão nossa coleta de dados e práticas de divulgação. Se fizermos alguma mudança substancial que diminua a restrição e a segurança de seus dados pessoais, iremos notificá-lo.<br>
        <br>Esta Política de Privacidade foi atualizada em&nbsp; 11 de Novembro de 2016. Médicos Sem Fronteiras®, Médicins Sans Frontières®, Doctors Without Borders e outras marcas associadas são marcas registradas de Médicos Sem Fronteiras ou suas afiliadas e não podem ser usadas sem permissão.
    </p>
</main>